<h2>Password Reset Request</h2>

<p>Hello {{firstName}},</p>

<p>We received a request to reset your password for your OMS Platform Administrator account.</p>

<div class="warning-box">
  <p><strong>Security Notice:</strong> If you didn't request this password reset, please ignore this email or contact support immediately.</p>
</div>

<p>To reset your password, click the button below:</p>

<a href="{{resetUrl}}" class="button">Reset Password</a>

<p style="font-size: 14px; color: #718096;">Or copy and paste this link into your browser:<br>
<a href="{{resetUrl}}">{{resetUrl}}</a></p>

<div class="info-box">
  <p><strong>Important:</strong></p>
  <ul style="margin-left: 20px;">
    <li>This link will expire in {{expiryHours}} hours</li>
    <li>For security reasons, you can only use this link once</li>
    <li>Make sure you're on the official OMS platform domain</li>
  </ul>
</div>

<p>If you continue to have problems, please contact our support team.</p>

<p>Best regards,<br>
<strong>OMS Platform Support</strong></p>
